.upload{
    width: 125px;
    position: relative;
    margin: auto;
  }
  
  .upload img{
    border-radius: 50%;
    border: 8px solid #96efa2;
    margin-left: 23px;
    margin-top: -15px;
  }
  
  .upload .round{
    position: absolute;
    margin-right: -10px;
    margin-bottom: -3px;
    bottom: 0;
    right: 0;
    background: #96efa2;
    width: 30px;
    height: 30px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .upload .round input[type = "file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
  }
  
  input[type=file]::-webkit-file-upload-button{
      cursor: pointer;
  }
  